@define-color np_fg_color #ddddde;
@define-color np_bg_color #333;
@define-color np_text_color #2e3436;

GtkWindow {
    color: @np_fg_color;
}

SushiFontWidget {
    background-color: transparent;
}

.scrollbar.slider,
.scrollbar.button {
    background-color: shade (@np_bg_color, 1.30);
}

.scrollbar.button:hover,
.scrollbar.slider:hover {
    background-color: shade (@np_bg_color, 1.45);
}

.scrollbar.button:hover:active,
.scrollbar.slider:hover:active {
    background-color: shade (@np_bg_color, 1.70);
}

.titlebar {
    background-color: black;
    background-image: none;
    box-shadow: none;
    border: none;
}

.titlebar .button {
    background-image: none;

    border-image: none;
    border-style: none;
    border-radius: 0;
    border-width: 0;
    background-color: transparent;
    box-shadow: none;
}

.titlebar .button:hover {
    background-image: -gtk-gradient(linear,
                                    left top,
                                    left bottom,
                                    from(alpha(@np_bg_color, 0.0)),
                                    color-stop(0.50, alpha(@np_bg_color, 0.66)),
                                    to(alpha(@np_bg_color, 0.0)));
}

.titlebar .button:hover:active {
    background-image: -gtk-gradient(linear,
                                    left top,
                                    left bottom,
                                    from(alpha(@np_bg_color, 0.0)),
                                    color-stop(0.50, @np_bg_color),
                                    to(alpha(@np_bg_color, 0.0)));
}

.window-frame {
    box-shadow: none;
    margin: 0;
}
