@define-color np_fg_color #ddddde;
@define-color np_bg_color #333;

* {
   background-color: alpha(#000, 0.0);
}

.np-toolbar {
    border-style: none;
    border-radius: 3;
    border-width: 0;

    background-color: @np_bg_color;
    color: @np_fg_color;
}

.np-decoration {
    color: @np_fg_color;
}

.np-decoration.button {
    color: @np_fg_color;
    background-image: none;

    border-style: none;
    border-radius: 0;
    border-width: 0;
    background-color: alpha (#000, 0.0);

    -GtkWidget-focus-line-width: 0;
    -adwaita-focus-fill-color: none;
}

.np-decoration.button:hover {
    background-image: -gtk-gradient(linear,
                                    left top,
                                    left bottom,
                                    from(alpha(#333, 0.0)),
                                    color-stop(0.50, alpha(#333, 0.66)),
                                    to(alpha(#333, 0.0)));
}

.np-decoration.button:hover:active {
    background-image: -gtk-gradient(linear,
                                    left top,
                                    left bottom,
                                    from(alpha(#333, 0.0)),
                                    color-stop(0.50, #333),
                                    to(alpha(#333, 0.0)));
}

.np-toolbar-button,
.np-toolbar.button {
    background-image: -gtk-gradient(linear,
                                    left top, left bottom,
                                    from(#333),
                                    color-stop(0.50, shade (#333, 1.40)),
                                    to (#333));
}

.np-toolbar-button:hover {
    background-color: alpha(@np_bg_color, 0.75);
}

.np-toolbar GtkScale.slider {
    background-image: none;
    background-color: @np_bg_color;
    border-color: shade (@np_fg_color, 0.8);
}

.np-toolbar GtkScale.trough {
    border-color: shade (@np_fg_color, 0.8);
    border-width: 1;
    border-style: solid;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(#333, 1.10)),
                                     to (shade (#333, 1.30)));
}

GtkLabel {
    color: @np_fg_color;
}

.np-toolbar GtkLabel {
    font: Cantarell 8;
}
